body{
	background-color: #ffffcc;
	color: #330000;
	font-family: Arial, Verdana, sans-serif;
}

header {
	background-color: #ccaa66;
	color: #000;
	text-align: center;
	border-radius: 40px 0 0 0;
}

p.address {
	margin-top: 0px;
	margin-bottom: 0px;
}	

#wrapper{
	margin-left : 10%;
	margin-right : 10%;
}	

h1{
	text-align: center;
	line-height: 200%;
}

nav{
	text-align: center;
	margin-top: 10px;;
}

footer {
	padding: 4px;
	margin-top: 10px;
	border-radius: 0 0 40px 0;
	background-color: #ccaa66;
	color: #000;
	font-size: .60em;
	font-style: italic;
	text-align: center;
}
