* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

nav,
header,
main,
aside,
footer {
  border: 2px solid #072A40;
}

body {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#wrapper {
  display: flex;
  flex-direction: column;
  width: 100%; /* keep the same width with different content */
  height: 100%;
  align-items: center; /* align horizontally */
  justify-content: center; /* align vertically */
}

header {
  /* align on center vertically and horizontally */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  min-width: 648px;
}

header img {
  width: 110px;
  margin-right: 5px;
}

header h1 {
  margin-left: 5px;
}

#navContent {
  min-width: 648px;
  display: flex;
  flex-direction: row;
  border: 2px solid red;
}

#mainFooter {
  display: flex;
  flex-direction: column;
  min-width: 60%;
  min-height: 100%;
  border: 2px dotted blue;
}

nav {
  display: flex;
  min-width: 20%;
  height: 100%;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 448px;
  min-height: 300px;
  overflow: auto;
}

aside {
  display: flex;
  min-width: 20%;
  height: 100%;
}

footer {
  display: flex;
  width: 100%;
  height: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;
}

nav li {
  height: 25px;
}

 a {
  text-decoration: none;
}

 a:visited {
  color: chocolate;
}

 a:link {
  color: darkgreen;
}

 a:hover {
  color: red;
}

main p {
  margin-left: 10px;
}

main ol {
  margin-left: 30px;
}

main ul {
  list-style: circle;
  margin-left: 30px;
}

#gallery {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 345px;
}

#gallery ul {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

#gallery li {
  display: inline-block;
}

#gallery li:nth-child(odd) figure {
  transform: skew(8deg);
}

#gallery li:nth-child(even) figure {
  transform: skew(-8deg);
}

#gallery span {
  position: absolute;
  top: 115px;
  left: 0;
  width: 100%;
  height: 76%;
  display: none;  
}

.thumbImages img {
  margin: auto;
  max-width: 82px;
  padding: 2px;
  background-color: white;
  border: 0;
}

.thumbImages figure {
  color: #49708A;
  text-align: center;
  padding: 5px;
  background-color: white;
  border: 2px solid rgba(73, 112, 138, 0.6);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#gallery span img {
  float: none;
  margin: auto;
  width: 100%;
}

#gallery a:hover span {
  display: block;
}

main li {
  list-style: decimal;
}

/* mobile version */
@media only screen and (max-width: 648px) {
  header {
    min-width: auto;
  }

  #navContent {
    min-width: auto;
    flex-direction: column;
  }

  aside {
    display: none;
  }
}
